/umgewandelte_vufind_daten.json
/README.md
/meinecorejsondatendieneuesten.json
/neueconversion.py
/converter_for_vuFind_Format_mapping.py
/allerneueste.mrc
/.idea/
/.vscode/
VufindautoAPI/.idea
VufindautoAPI/target
VufindautoAPI/output.json
VufindautoAPI/output2.json
.fake