@font-face {
    font-family: 'CustomFont'; /* Der Name der Schriftart */
    src: url("../css/fonts/Jaturat.ttf") format('truetype');
    font-weight: normal; /* Oder 'bold', je nach Schriftart */
    font-style: normal; /* Oder 'italic', je nach Schriftart */
}

@font-face {
    font-family: 'CustomFont2'; /* Der Name der Schriftart */
    src: url("../css/fonts/Black\ Ops\ One\ Regular.ttf") format('truetype');
    font-weight: 900; /* Oder 'bold', je nach Schriftart */
    font-style: normal; /* Oder 'italic', je nach Schriftart */
}




body{
    background: url("../images/JellyFish.gif");
    background-size: cover;        /* Das Bild deckt das gesamte Fenster ab */
    background-repeat: no-repeat;  /* Das Bild wird nicht wiederholt */
    background-position: center;   /* Das Bild wird zentriert */
    background-attachment: fixed;  /* Das Bild bleibt fixiert beim Scrollen */
    margin: 0;                     /* Entfernt den Standard-Abstand des body-Elements */
    height: 100vh;                 /* Stellt sicher, dass der body die gesamte Höhe des Fensters einnimmt */
    
}
h1{
display: inline;
font-size: 10vw;
min-block-size: 650%;
font-family: 'Times New Roman', serif;
font-weight: bolder;
padding-bottom:0px;


}

#dive{
    color: #aaa8a7;
    font-family: "CustomFont";
    display: block;
    text-align:left;
    font-size: 1.9vw;
    position: relative;
    height: auto;
    width: auto;
    padding-right: 0%;
    
    margin-left: 2vw;
    margin-top: 0vw;
}
#divContainerHeader{
    display: inline-block;
    margin-top: 12vw;
}

#header1{
    color: rgb(255, 54, 50); 
    text-shadow:
    0 0 5px #ff8986,  
    0 0 10px #ff8986, 
    0 0 15px #e1585a; 
    margin-bottom: 0px;
    display: inline-block;
    position: relative;
    font-size: 6vw;
    
    margin-top: 0vw;
}
#header2{
    color: #cef2ec;
    text-shadow:
    0 0 5px #cef2ec,  /* Erste Ebene des Schattens */
    0 0 10px #cef2ec, /* Zweite Ebene des Schattens */
    0 0 15px #00ffcc;
    margin-bottom: 0px;
    display: inline;
    position: relative;
    font-size: 6vw;
    margin-top: 9vw;

}

.navbar-header {

    @media (min-width: 1080px) {
        margin-top: -2vw;
    }

    @media (min-width: 1921px) {
        margin-top: -5vw;
    }
}

.searchForm-query {
    position:relative;
    margin-left: auto;
    margin-top: 20vw;
    border-radius: 0;
    font-weight: 999;
    height: 3vw;
    width: 40vw;
    max-width: 1000vw;

   
    display:inline;
    size: relative;
    max-block-size: 12vw;
    height: auto;
}

.searchForm-query #searchForm_lookfor {
    height: 3vw;
    width: 40vw;
    max-width: 1000vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    padding-right: 28px
}


.navbar-form .form-control {
    display: inline-block;
    max-width: 25vw;
    width: 30vw;
    vertical-align: middle;
    size: relative;
    max-block-size: 12vw;
    height: 5vh;
}

#searchForm_type {
    background-color:#a0d6cc;
    color: black;
    position: relative;
    border-radius: 0px;
    border-color: #fff;
    text-align: center;
    font-size: 1.6vw;
    
    margin-right: 0%;
    

    height: 3vw;
    width: 13vw;
    display:inline;
    size: relative;
    font-family: CustomFont;


}

.searchForm-query #searchForm-reset {
    position: absolute;
    right: 0.9vw;
    top: -0.1vw;
    bottom: 0vw;
    width: 2vw;
    height: 2vw;
    border: none;
    border-radius: 990%;
    background-color: gray;
    margin: 0;
    padding: 0.1vw;
    font-size: 1.4vw;
    cursor: pointer
}


.btn-primary {
    color: #fff;
    /*background-color: #ff3532;
    border-color: #fc3131;*/
    background: linear-gradient(to right, #ff3131, #ff5d3e, #ff8b4b);
    font-weight: bolder;
    font-size: 1.9vw;
    text-align: center;
    line-height: 2vw;

    font-family: CustomFont2;
    height: 3vw;
    width: 10vw;
    max-width: 1000vw;

    margin-left: 1vw;


    border-radius: 0;
    display:inline;
    size: relative;
    max-block-size: 12vw;

}

.icon--font {
    display: inline-block;
    max-width: 1.25em;
    line-height: 1.8vw;
    text-align: center;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.navbar-form {
    width: 79vw;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.searchForm .advanced-search-link {
    background-color:#a0d6cc;
    color: black;
    position: relative;
    border-radius: 0px;
    border-color: #fff;
    text-align: center;
    font-size: 1.7vw;
    text-decoration: none;
    line-height: 2vw;
    
   

    height: 3vw;
    width: 11vw;

    margin-left: 1vw;
    
    size: relative;
    font-family: CustomFont;
}



.navbar-nav button.dropdown-toggle {
    position:relative;
    text-decoration: none;
    color: black;
    background-color: #a0d6cc;
    border-radius: .1vw;
    border-color: #fff;
    margin-right: 1vw;
    margin-top: 1vw;
    size: relative;
    max-block-size: 12vw;
    height: 3vw;
    width: 8vw;

    font-family: CustomFont;
    font-size: 1.2vw;
    display: flex; /* Aktiviert Flexbox */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */

    
}

.nav>li>a {
    position:relative;
    text-decoration: none;
    color: black;
    background-color: #a0d6cc;
    border-radius: 3px;
    border-color: #fff;
    margin-right: 1vw;
    margin-top: 1vw;
    size: relative;
    max-block-size: 12vw;
    height: 3vw;
    width: 8vw;

    font-family: CustomFont;
    font-size: 1.2vw;
    display: flex; /* Aktiviert Flexbox */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
}


.logo {
    /* max-width: 300px;  Größe des Logos anpassen */
    display: inline;
}

#brand{
    position: relative;
    display: inline-block;
    height: 9vw;
    width: 9vw;
    margin-left: 0vw;
    margin-top: 0vh;
    margin-bottom: 6vw;
}

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
    margin-right:0;
    margin-left: 5vw;
}


.navbar-header{
    height: 22vw;
    margin-left: 5vw;
    margin-bottom: 1.5vw;
    width: 80vw;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0);
    font-family: CustomFont; 
    color: white;
    font-size: 1.2vw;
}



.alert.alert-danger{
    width: 54.5vw;
}

.breadcrumb{
    width:54.5vw;
}
.modal-body{
    background: url("../images/JellyFish.gif");
    background-size: cover;        /* Das Bild deckt das gesamte Fenster ab */
    background-repeat: no-repeat;  /* Das Bild wird nicht wiederholt */
    background-position: center;   /* Das Bild wird zentriert */
    background-attachment: fixed;  /* Das Bild bleibt fixiert beim Scrollen */
    margin: 0;                     /* Entfernt den Standard-Abstand des body-Elements */
    height: 50vh;                 /* Stellt sicher, dass der body die gesamte Höhe des Fensters einnimmt */
    color: white;
}

.container{
    margin-left: 11vw;
}
