@font-face {
  font-family: 'CustomFont'; /* Der Name der Schriftart */
  src: url("../css/fonts/Jaturat.ttf") format('truetype');
  font-weight: normal; /* Oder 'bold', je nach Schriftart */
  font-style: normal; /* Oder 'italic', je nach Schriftart */
}

@font-face {
  font-family: 'CustomFont2'; /* Der Name der Schriftart */
  src: url("../css/fonts/Black\ Ops\ One\ Regular.ttf") format('truetype');
  font-weight: 900; /* Oder 'bold', je nach Schriftart */
  font-style: normal; /* Oder 'italic', je nach Schriftart */
}


/* IM FOLGENDEN STARTSEITE(homepage), LISTE(search-page), ERGEBNIS(result-page), TAG-SEITE(tag-page)
und eine ACCOUNT-Seite(account-page) (wenn man auf ihr konto oben rechts klickt).
Diese Unterteilung wurde gemacht um innerhalb dieser Seiten spezielle Änderungen vornehmen zu können.
Für Funktionsweise siehe Layouts/layout.phtml, erste if-clause mit url-filter. */

/* Startseite */
body.homepage {
background-image: url("../images/homepage/jellyfish-homepage.webp");
background-size: cover; /* Hintergrundbild skalieren, um den gesamten Bereich abzudecken */
background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */

.active-filters .filters-toggle {
  display: none;
}
.reset-filters-btn {
  display: none;
}
.active-filters .filters .title-value-pair {
  display: none; }

/* wenn man eingeloggt ist soll hier nix erscheinen, dass regelt die seite body.account-page */
.mainbody.left {
  display: none;
}
.sidebar.right.hidden-print {
  display: none;
}
}



/* 2. Seite der Liste mit Ergebnissen */
body.search-page {
background-image: url("../images/homepage/jellyfish-homepage.webp");
background-size: cover;
background-repeat: no-repeat;

#divContainerHeader{
display: inline-block;
margin-top: 0vw;
}
.active-filters .filters .filter-value {
display: inline-block;
margin-block:5px;padding: 2px 8px;
font-weight: 600;
color: #fff;
white-space: nowrap;
text-decoration: none;
background: rgb(69, 69, 69);
}

.search-stats h2{
  color: white;
}

.result-body div {
  color: white;
}

}





/* ADVANCED   SEARCH   PAGE*/
body.advanced-search{

  background-image: url("../images/homepage/jellyfish-homepage.webp");
background-size: cover;
background-repeat: no-repeat;

#divContainerHeader{
display: inline-block;
margin-top: 0vw;
}
.active-filters .filters .filter-value {
display: inline-block;
margin-block:5px;padding: 2px 8px;
font-weight: 600;
color: #fff;
white-space: nowrap;
text-decoration: none;
background: rgb(69, 69, 69);
}

.search-stats h2{
  color: white;
}

.result-body div {
  color: white;
}



  .mainbody.left{
    background: linear-gradient(135deg, rgb(235 50 255 / 42%), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;

  }
}



/* 3. Seite des einen Ergebnisses */
body.record-page {
background-image: url("../images/searchpage/searchpage_orig.jpg");
background-size: cover;
background-repeat: no-repeat;

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
margin-right:0;
width: auto;
margin-left:0;
}
#divContainerHeader{
display: inline-block;
margin-top: 0vw;
}
.active-filters .filters .filter-value {
display: inline-block;
margin-block:5px;padding: 2px 8px;
font-weight: 600;
color: #fff;
white-space: nowrap;
text-decoration: none;
background: rgb(69, 69, 69);
}

/* Holding Exemplare wegmachen */
#record-tab-holdings{
display:none;
}

.nav>li>a {
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 4px;
border-color: black;
/* margin-right: 1vw; */
/* margin-top: 2vw; */
max-block-size: 12vw;
font-family: CustomFont;
font-size: 1.2vw;
/* display: inline; */
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center; /* Zentriert den Inhalt vertikal */
padding: 20px;
width: 10vw;
height: 3vw;
line-height: 1.15vw;
}

.nav>li>a:hover {
background-color: #333;
border-left: 2px solid #ccc;
border-right: 2px solid #ccc;
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc;
color: white;

}

.logoutOptions .logout {
position:relative;
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 3px;
border-color: #fff;
margin-right: 1vw;
margin-top: 1vw;
size: relative;
max-block-size: 12vw;
height: 3vw;
width: 10vw;
font-family: CustomFont;
font-size: 1.2vw;
display: flex; /* Aktiviert Flexbox */
justify-content: center;  /*Zentriert den Inhalt horizontal */
align-items: center; /* Zentriert den Inhalt vertikal */
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-radius: 5px;
padding: 15px;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;
}

.logoutOptions .icon-link {
position:relative;
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 3px;
border-color: #fff;
margin-right: 1vw;
margin-top: 1vw;
size: relative;
max-block-size: 12vw;
height: 3vw;
width: 10vw;
font-family: CustomFont;
font-size: 1.2vw;
display: flex; /* Aktiviert Flexbox */
justify-content: center;  /*Zentriert den Inhalt horizontal */
align-items: center; /* Zentriert den Inhalt vertikal */
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-radius: 5px;
padding: 15px;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;
}

/* War die version davor, für den fall dass der login button bei der record-page 
crashen sollte weil man was geändert hat oder so
.nav>li>a {
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 3px;
border-color: #fff;
margin-right: 1vw;
margin-top: 2vw;
size: relative;
max-block-size: 12vw;
height: 3vw;
width: 8vw;
font-family: CustomFont;
font-size: 1.4vw;
display: inline;
justify-content: center; /* Zentriert den Inhalt horizontal 
align-items: center; /* Zentriert den Inhalt vertikal 
} */



.nav-tabs {
border-bottom: none;
}

/* Für die Tabs Example, Beschreibung, Inhaltsangabe */
.tab-content>.active {
display: block;
background-color: #acc1e2;
margin-top: 1.5vw;
}

.nav-tabs>li {
float: left;
/* margin-bottom:-1px; */
margin-left: 1vw;
font-size: 16px;
}

.record .media-body,.result .media-body {
flex: 1;
width: unset;
overflow: visible;
margin-bottom: 2vw;
}
.tab-content {
padding: 4px;
margin-left: 1vw;
}

#loginOptions .icon-link {
position:relative;
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 3px;
border-color: #fff;
margin-right: 1vw;
margin-top: 1vw;
size: relative;
max-block-size: 12vw;
height: 3vw;
width: 10vw;
font-family: CustomFont;
font-size: 1.2vw;
display: flex; /* Aktiviert Flexbox */
justify-content: center;  /*Zentriert den Inhalt horizontal */
align-items: center; /* Zentriert den Inhalt vertikal */
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-radius: 5px;
padding: 15px;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;
}

#loginOptions .icon-link:hover {
background-color: #333;
color: white;
border-left: 1px solid white;
border-right: 1px solid white;
border-top: 1px solid white;
border-bottom: 1px solid white;
}

/* Für die 3.Seite der Zu Favoriten Hinzufügen button
/* Beispiel: Ändern der Hintergrundfarbe und der Textfarbe */
.save-record {
  /* color: black; */ /* Ihre gewünschte Textfarbe */
  /*border-radius: 8px;  Radius der Abrundung der Ecken */
  background-color: #a0d6cc; /* Hintergrundfarbe für Dropdown Toggle */
  color: black;
}
/* Beispiel: Ändern der Farbe des Icons */
.save-record .icon-link__icon {
  color: red; /* Ihre gewünschte Farbe für das Icon */
}

/* Optional: Ändern der Hintergrundfarbe beim Hover-Effekt */
.save-record:hover {
  color: #ff8986;
  background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für Dropdown Toggle */ /* Ihre gewünschte Farbe beim Hover */
}


/* Wenn man eingeloggt ist: */
.nav .navbar-nav .navbar-right.flip {
margin-top: -3vw;
}


/* Suchleiste */
.search.container.navbar {
background-color: transparent;
padding: 10px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
display: none;
align-items: center; /* Vertikale Ausrichtung */
overflow: hidden; /* Verhindert das Überlaufen des Inhalts */
transform: scale(0.6);
transform-origin: left;
}

.btn.btn-primary {
padding: 5px;
width: auto;
font-size: 1.3vw;
}
.comment-name {
color: black;
margin-top: 1vw;
margin-left: 1vw;
}
.comment-text {
color: black;
margin-top: 1vw;
}
.comment-label {
color: black;
margin-top: 1vw;
margin-left: 1vw;
}
.comment-form .text-form {
width: 100%;
margin-top: 1vw;
margin-right: 1vw;
}

}

/* 4. Seite tag-page wo tag-ergebnisse gezeigt werden*/
.tag-page {

background-image: url('../images/searchpage/searchpage_orig.jpg');

.search.container.navbar {
display:none;
}

#divContainerHeader{
display: inline-block;
margin-top: 2vw;
}

.mainbody.left{
margin-top:3vw;
width: 100%;
}

.navbar-form {
display:none;
}

}

/* 5. Seite die erscheint wenn man auf ihr Konto klickt.
Account-page  url mit MyResearch*/

body.account-page {
background-image: url('../images/searchpage/searchpage_orig.jpg');

.result-body {
  background: rgba(30, 47, 56, 0.726);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  /*background-color: #c1d6d2;
  border: 1px solid #ddd;
  border-radius: 5px;*/
  margin-bottom: 20px;
}


/* es hat nochmal ein h2, hier nur für account-page*/
h2 {
  color: white;
}
h3 {
  color: black;
}
h4 {
  color: black;
}
#divContainerHeader{
  display: inline-block;
  margin-top: 0vw;
  }
.btn-default,.search-filter-toggle {
  color: #333;
  background-color: #a0e2d6;
  border-color: #ccc;
}
.btn-default:hover, .search-filter-toggle:hover {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: white;
  background-color:#333 ;
  }
  .search-controls .btn.icon-link {
    display: inline-block;
    padding: 1rem;
    color: #12538B;
    border: 1px solid black; /* Grüner Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
    width: auto;
    font-size: 1.2vw;
    margin-bottom: 1vw;
  }
  .search-controls .btn.icon-link:hover {
    color: white; 
  }

  .last {
    color: black;
  }
  .resultItemLine2 {
    color: black;
  }
  .result .title {
    font-weight: bold;
    color: #007bff;
  }
  .toolbar-btn {
    background-color: #a0e2d6;
  }
  .toolbar-btn:hover {
    color: #007bff;
  }
  .result-links{  
    width: 8vw;
    margin-left: 1vw;
    background-color: #c1d6d2;
    text-align: center;
  }
  fieldset,.fieldset {
    float:left;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #c1d6d2;
    border-radius: 1vw;
    align-items: center;
    width: 40vw;
    padding-left: 1vw;
    color: black;
    margin-bottom: 1vw;
}
.mainbody.left{

  background: linear-gradient(135deg, rgb(235 50 255 / 42%), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
}

}

/* 6. Seite mit acc-search-history-page (auch erst wenn man eingeloggt ist im login-fenster
Kommt erst wenn man im login-bereich auf search-history drückt */
body.acc-search-history-page {
background-image: url('../images/searchpage/searchpage_orig.jpg');

.mainbody.left{

  background: linear-gradient(135deg, rgb(235 50 255 / 42%), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  
}

h2 {
  color: white;
}
h3 {
  color: black;
}
td {
  color: black;
  background-color: white;
}
th {
  color: black;
  background-color: #b7c8c4;
}
a.icon-link[href="?purge=true"] {
display: block;
padding: 1rem;
color: #12538B;
border: 1px solid black; /* Grüner Rahmen */
border-radius: 5px; /* Abgerundete Ecken */
background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
width: 19vw;
font-size: 1.15vw;
margin-bottom: 2vw;
}
a.icon-link[href="?purge=true"]:hover {
color: white; 
}
}

/* 7. Seite mit author-page wenn man einen der authors anklickt */
body.author-page {
background-image: url('../images/searchpage/searchpage_orig.jpg');

.search.container.navbar {
display:none;
}

#divContainerHeader{
display: inline-block;
margin-top: 2vw;
}

.mainbody.left{
margin-top:3vw;
width: 75%;

}

.navbar-form {
display:none;
}

.sidebar.right.hidden-print{
font-family: "CustomFont";
background-color: #c1d6d2;
margin-top: 3vw;
}
h4 {
color: black;
}
}

body{
  /*background: url("../images/schwarzer_hintergrund.jpg");*/
  background-size: cover;        /* Das Bild deckt das gesamte Fenster ab */
  background-repeat: no-repeat;  /* Das Bild wird nicht wiederholt */
  background-position: center;   /* Das Bild wird zentriert */
  background-attachment: fixed;  /* Das Bild bleibt fixiert beim Scrollen */
  margin: 0;                     /* Entfernt den Standard-Abstand des body-Elements */
  height: 100vh;                 /* Stellt sicher, dass der body die gesamte Höhe des Fensters einnimmt */
  font-family: 'CustomFont', sans-serif;  /*Fallback auf sans-serif */
  color: white; /* Standardfarbe für alle Texte */
}


/* "Neues Konto anlegen" Button wenn du auf Login gehst*/
.btn.btn-link.createAccountLink{
background-color: #a0d6cc;
/* transform: scaleY(1.38); */
margin-bottom: 1px; 
border-radius: 5px;
height: 3vw;
width: auto;
padding: 5px;
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;

}

/* Login Schriftzug wenn man auf Login geht */
#lightbox-title.lightbox-header{
color: white;
}

.mainbody.left{
margin-top:3vw;
}

h2{
color: white;
font-family: "CustomFont";
}

.adv-submit .btn.btn-primary{
margin-bottom: 50px;
}



/* auf der advanced search seite - erweiterte suche*/

.pull-left {
color: white;
}
legend {
display: block;
width: 100%;
padding: 0;
margin-bottom: 20px;
font-size: 21px;
line-height: inherit;
color: white;
border: 0;
border-bottom: 1px solid white;
}

.adv-group {
position: relative;
margin-bottom: .5rem;
padding: 1rem;
border: 1px solid #ddd;
border-radius: 4px;
color: #007bff;
background-color: #b7c8c4;
}

@media (min-width: 100px) {
.solr-facet-container {
    display:flex;
    flex-wrap: wrap
}

.solr-adv-facet {
    padding: 5px;
    flex: 1 25%;
    background-color: #b7c8c4;
    color: #007bff;
    border-radius: 5px;
    margin-right: 1vw;
    text-align: center;
}
}
@media (min-width: 100px) {
.mainbody {
width: 75%;
}
.form-control {
max-width: 100%;
}
}


fieldset.solr label[for="illustrated_0"] {
position: relative;
display: inline-block;
padding: 5px;
border: 1px solid black; /* Grüner Rahmen */
border-radius: 5px; /* Abgerundete Ecken */
background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
color: #007bff;
width: 10vw;
font-size: 1vw;
}

fieldset.solr label[for="illustrated_-1"] {
position: relative;
display: inline-block;
padding: 5px;
border: 1px solid black; /* Grüner Rahmen */
border-radius: 5px; /* Abgerundete Ecken */
background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
color: #007bff;
width: 10vw;
font-size: 1vw;
}


fieldset.solr {
position: relative; /* Für die absolute Positionierung des Rahmens */
} 

/* Kasten um das Label für 'Has Illustrations' */
fieldset.solr label[for="illustrated_1"] {
position: relative;
display: inline-block;
padding: 5px;
border: 1px solid black; /* Grüner Rahmen */
border-radius: 5px; /* Abgerundete Ecken */
background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
color: #007bff;
width: 10vw;
font-size: 1vw;
}

.date-fields .date-from {
padding-right: .25rem;
background-color: #b7c8c4;
color: #007bff;
text-align: center;
margin-right: 1vw;
border-radius: 5px;
padding: 2px;
}

.date-fields .date-to {
padding-left: .25rem;
background-color: #b7c8c4;
color: #007bff;
text-align: center;
border-radius: 5px;
padding: 2px;
}

#groupPlaceHolder {
display: block;
padding: 1rem;
color: #12538B;
border: 1px solid black; /* Grüner Rahmen */
border-radius: 5px; /* Abgerundete Ecken */
background-color: #b7c8c4; /* Hintergrundfarbe, um den Text hervorzuheben */
width: 18vw;
font-size: 1.15vw;
margin-bottom: 2vw;
}

#groupPlaceHolder:hover {
display: block;
padding: 1rem;
color: white;
}

.adv-submit .clear-btn {
float: right;
background-color: red;
font-weight: bolder;
font-family: CustomFont;
font-size: 1vw;
text-align: center;
line-height: 2vw;
height: 3vw;
width: 10vw;
max-width: 1000vw;
margin-left: 1vw;
display:inline;
size: relative;
max-block-size: 12vw;
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-radius: 5px;
color: white;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;

}
.adv-submit .clear-btn:hover {
color: #333333;
border-left: 2px solid white;
border-right: 2px solid white;
border-top: 2px solid white;
border-bottom: 2px solid white;
}



.sidebar.right.hidden-print{
font-family: "CustomFont";
margin-top: 3vw;
background: linear-gradient(135deg, rgba(0, 255, 204, 0.333) , rgba(0, 255, 204, 0) );
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* bis hier hin */

/* Die Box wo man Konto erstellen kann */
.modal-body #lightbox-title, .back-to-login.btn.btn-link, .help-block {
color: white;
}

.form-group .btn.btn-primary{
font-size: medium;
}
.btn.btn-primary {
padding: 5px;
}
/* bis hier hin */





h1{
display: inline;
font-size: 10vw;
min-block-size: 650%;
font-family: 'Times New Roman', serif;
font-weight: bolder;
padding-bottom:0px;


}

#dive{
color: #aaa8a7;
font-family: "CustomFont";
display: block;
text-align:left;
font-size: 1.9vw;
position: relative;
height: auto;
width: auto;
padding-right: 0%;
margin-left: 10vw;
margin-top: -3vw;
}

#divContainerHeader{
  display: inline-block;
  margin-top: 9vw;
}


#header1{
  color: rgb(255, 54, 50); 
  text-shadow:
  0 0 40px #e1585a,  
  0 0 50px #e1585a, 
  0 0 1px #e1585a; 
  margin-bottom: 0px;
  display: inline-block;
  position: relative;
  font-size: 6vw;
  margin-top: 0vw;

color: #f073fc;
text-shadow: 0 0 5px #ee2eff, 0 0 10px #ee2eff, 0 0 20px #ee2eff, 0 0 30px #ee2eff, 0 0 40px #ee2eff, 0 0 55px #ee2eff, 0 0 75px #ee2eff;
text-align: center;
}


#header2{
  color: #7f9ff7;
  text-shadow:
  0 0 40px #0044ff,  /* Erste Ebene des Schattens */
  0 0 50px #0044ff, /* Zweite Ebene des Schattens */
  0 0 1px #0044ff;
  margin-bottom: 0px;
  display: inline;
  position: relative;
  font-size: 6vw;
  margin-top: 9vw;
  
color: #7f9ff7;
text-shadow: 0 0 5px #00f7ff, 0 0 10px #0044ff, 0 0 20px #0044ff, 0 0 30px #0044ff, 0 0 40px #0044ff, 0 0 55px #0044ff, 0 0 75px #0044ff;
text-align: center;

}

/*
.navbar-header {

  @media (min-width: 1080px) {
      margin-top: -2vw;
  }

  @media (min-width: 1921px) {
      margin-top: -5vw;
  }
} 
*/

.searchForm-query {
  position:relative;
  margin-left: auto;
  margin-top: 20vw;
  border-radius: 0;
  font-weight: 999;
  height: 3vw;
  width: 40vw;
  max-width: 1000vw;
  display:inline;
  size: relative;
  max-block-size: 12vw;
  height: auto;
  
}

.searchForm-query #searchForm_lookfor {
  height: 3vw;
  width: 40vw;
  max-width: 1000vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  padding-right: 28px;
 
  border-radius: 5px;
}

.form-control:hover{
border-color: #a0d6cc;
border-width: .1em;
}

.form-control:focus{
border-color: #58afc2;
border-width: .1em;
outline:1em;
-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1em rgba(102, 175, 233, 0.8);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 1em rgba(58, 150, 220, .8)
}


.navbar-form .form-control {
  display: inline-block;
  max-width: 25vw;
  width: 30vw;
  vertical-align: middle;
  size: relative;
  max-block-size: 12vw;
  height: 5vh;
}

#searchForm_type {
  background-color:#a0d6cc;
  color: black;
  position: relative;
  text-align: center;
  font-size: 1.6vw;
  margin-right: 0%;
  height: 3vw;
  width: 13vw;
  display:inline;
  size: relative;
  font-family: CustomFont;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;


  border: 1px solid #0360df;
  
  background-color: #0360df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.1s;


}


#searchForm_type:hover{
color: #fff;
background-color: #333;
border-color: #adadad;
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center;
font-family: CustomFont;
}

#searchForm_type:focus{
color: #000000;
background-color: #a0d6cc;
border-color: #adadad;
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center;
font-family: CustomFont;
}


.searchForm-query #searchForm-reset {
  position: absolute;
  right: 0.6vw;
  top: -0.6vw;
  width: 2vw;
  height: 2vw;
  border: none;
  background-color: gray;
  font-size: 1.4vw;
}


.btn-primary {
  color: #fff;
  /*background-color: #ff3532;*/
  
  background: linear-gradient(to right, #ff3131, #ff5d3e, #ff8b4b);
  font-weight: bold;
  font-size: 1.6vw;
  text-align: center;
  line-height: 2vw;

  font-family: CustomFont;
  height: 3vw;
  width: 10vw;
  max-width: 1000vw;

  margin-left: 1vw;
  display:inline;
  size: relative;
  max-block-size: 12vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;


  border: 1px solid #a83232;
  background-color: #ea00ff;
  background-image: radial-gradient(75% 50% at 50% 0%, #ffe0e0 12%, transparent), radial-gradient(75% 50% at 50% 85%, #ff7373, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(168, 50, 50, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px #862626;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.1s;

}

.btn-primary:hover {
  color: #fff;
  background-color: #333;
  border-color: #adadad;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center;
  }


.icon--font {
  display: inline-block;
  max-width: 1.25em;
  line-height: 1.8vw;
  text-align: center;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.navbar-form {
  width: 79vw;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}








.searchForm .advanced-search-link {
  background-color:#a0d6cc;
  color: black;
  position: relative;
  text-align: center;
  font-size: 1.7vw;
  text-decoration: none;
  line-height: 2vw;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 11vw;
  margin-left: 1vw;
  size: relative;
  font-family: CustomFont;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;

  
  border: 1px solid #0360df;
  
  background-color: #0360df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.1s;
}







#searchForm_type {
  background-color:#a0d6cc;
  color: black;
  position: relative;
  text-align: center;
  font-size: 1.6vw;
  margin-right: 0%;
  height: 3vw;
  width: 13vw;
  display:inline;
  size: relative;
  font-family: CustomFont;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;


  border: 1px solid #0360df;
  
  background-color: #0360df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.1s;


}


#searchForm_type:hover{
color: #fff;
background-color: #333;
border-color: #adadad;
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center;
font-family: CustomFont;
}

#searchForm_type:focus{
color: #000000;
background-color: #a0d6cc;
border-color: #adadad;
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center;
font-family: CustomFont;
}



/* Export-Button*/
input.btn.btn-primary{
width: 35vw;
}


/* Zum Clipboard kopieren*/
#copyToClipboard1{
width: 40vw;
}






























.navbar-nav button.dropdown-toggle {
  position:relative;
  text-decoration: none;
  color: black;
  background-color: #a0d6cc;
  border-radius: .1vw;
  border-color: #fff;
  margin-right: 1vw;
  margin-top: 1vw;
  size: relative;
  max-block-size: 12vw;
  height: 3vw;
  width: 8vw;

  font-family: CustomFont;
  font-size: 1.2vw;
  display: flex; /* Aktiviert Flexbox */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;

  
  border: 1px solid #0360df;
  
  background-color: #0360df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.1s;
}

.advanced-search-link:hover {
color: #fff;
background-color: #333;
border-color: #adadad;
justify-content: center; /* Zentriert den Inhalt horizontal */
align-items: center;
}

.nav>li>a {
position:relative;
text-decoration: none;
color: black;
background-color: #a0d6cc;
border-radius: 3px;
border-color: #fff;
margin-right: 1vw;
margin-top: 1vw;
size: relative;
max-block-size: 12vw;
height: 3vw;
width: 10vw;
font-family: CustomFont;
font-size: 1.2vw;
display: flex; /* Aktiviert Flexbox */
justify-content: center;  /*Zentriert den Inhalt horizontal */
align-items: center; /* Zentriert den Inhalt vertikal */
border-left: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;
border-radius: 5px;
padding: 15px;


border: 1px solid #0360df;
  
background-color: #0360df;
background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
color: #fff;
text-shadow: 0 1px 1px #116ee7;
transition-property: border-color, transform, background-color;
transition-duration: 0.1s;
}

.nav>li>a:hover {
background-color: #333;
border-left: 2px solid #ccc;
border-right: 2px solid #ccc;
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc;
color: white;

}

.logo {
  /* max-width: 300px;  Größe des Logos anpassen */
  display: inline;
}

#brand{
  position: relative;
  width: 9vw;
  max-width: 9vw;
  height: auto;
  display: inline;
}

/*
#brand{
  position: relative;
  display: inline-block;
  height: 9vw;
  width: 9vw;
  margin-left: 0vw;
  margin-top: 0vh;
  margin-bottom: 6vw;
}*/

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
  margin-right:0;
  width:auto;
  margin-left: 5vw;
}

.navbar-header{    
  margin-left: 5vw;
  margin-bottom: 1.5vw;
  width: 80vw;
}

.dropdown-menu{
  background-color: #a0d6cc;
  font-family: CustomFont; 
  color: white;
  font-size: 1.2vw;
}

.alert.alert-danger{
  width: 54.5vw;
}

.breadcrumb{
  width:54.5vw;
  display:none;
}
.modal-body{
  background: url("../images/homepage/jellyfish-homepage.webp");
  background-size: cover;        /* Das Bild deckt das gesamte Fenster ab */
  background-repeat: no-repeat;  /* Das Bild wird nicht wiederholt */
  background-position: center;   /* Das Bild wird zentriert */
  background-attachment: fixed;  /* Das Bild bleibt fixiert beim Scrollen */
  margin: 0;                     /* Entfernt den Standard-Abstand des body-Elements */
  height: fit-content;                 /* Stellt sicher, dass der body die gesamte Höhe des Fensters einnimmt */
  color: white;    
  
}

/*.container{
  margin-left: 11vw;
  width: auto;
  margin-top: 2vw;
}*/

/* SEARCH BAR_--------------------------------------------------------*/
/* Container für das Gesamtergebnis */
.result-body {
  background: linear-gradient(135deg, rgb(235 50 255 / 42%), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  /*background-color: #c1d6d2;
  border: 1px solid #ddd;
  border-radius: 5px;*/
  margin-bottom: 20px;
}


/* Titelstilierung */
.result-body h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.result-body a.title {
  color: white;
  text-decoration: none;
}

.result-body a.title:hover {
  text-decoration: underline;
}

/* Alternative Titelstilierung */
.title-alt {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}

/* Autorenstilierung */
.authors {
  font-size: 1em;
  color: gray;
}

.result-author {
  color: #007bff;
  text-decoration: none;
}

.result-body .author {
  color: grey;
}


.result-author:hover {
  text-decoration: underline;
}

/* Container-Link-Stilierung */
.container-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.container-link:hover {
  text-decoration: underline;
}

/* Stilierung für Sammlung Links */
.collectionLinkText {
  color: #007bff;
  text-decoration: none;
}

.collectionLinkText:hover {
  text-decoration: underline;
}


/* FILTER MÖGLICHKEITEN .....................................*/
.facet {
    background-color: #b7c8c4; /* Hintergrundfarbe für die Facette */
    padding: 10px;            /* Innenabstand */
    margin-bottom: 5px;       /* Abstand zwischen den Facetten */

}

.top-facet-inner {
    color: #a0d6cc; /* Textfarbe für das span-Element */
    background-color: #a0d6cc;
}


.facet-group .collapse,.facet-group .collapsing,.facet-group.full-facet-list .facet {
   position: relative; 
   border-left: none; 
   border-right: none; 
}

.facet-group .facet,.facet-load-indicator,.facet-load-failed {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;

    background: rgba(163, 250, 233, 0.63) ;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.btn.more-btn {
    background-color: #a0d6cc; /* Ändere die Farbe nach Belieben */
    color: #007bff; /* Optional: Ändert die Textfarbe, um einen guten Kontrast zur Hintergrundfarbe zu bieten */

  }

/* Beispiel: Ändern der Hintergrundfarbe und der Textfarbe */
.save-record {
  color: #007bff; /* Ihre gewünschte Textfarbe */
  /*border-radius: 8px;  Radius der Abrundung der Ecken */
}
  
  /* Beispiel: Ändern der Farbe des Icons */
  .save-record .icon-link__icon {
    color: red; /* Ihre gewünschte Farbe für das Icon */
  }
  
  /* Optional: Ändern der Hintergrundfarbe beim Hover-Effekt */
  .save-record:hover {
    background-color: yellow; /* Ihre gewünschte Farbe beim Hover */
  }

/* FÜR DIE RELEVANZSORTIERUNG---------------------------------------------------------------- */

/* Container für das <select>-Element und den Pfeil */
.select-container {
    position: relative; /* Ermöglicht es, das Pfeilsymbol relativ zum Container zu positionieren */
    display: inline-block; /* Der Container passt sich der Größe des Dropdown-Menüs an */
    width: 300px; /* Breite des Containers, anpassen wie nötig */
  }
  
    /* Stil für das <select>-Element */
    .jumpMenu {

       /* Innenabstände */
      font-size: 1.4vw; /* Schriftgröße */
      color: white; /* Textfarbe */
      width: 100%; /* Breite auf 100% setzen */
      box-sizing: border-box; /* Verhindert, dass Padding und Border die Breite überschreiten */
      appearance: none; /* Entfernt die Standard-Stile des Browsers */
      padding-left: 1vw;
      padding-bottom: 0.25vw;
      /*---*/
      
    background: rgba(0, 255, 204, 0.404) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
  
  /* Stil für das Pfeilsymbol */
  .select-arrow {
    position: absolute; /* Absolute Positionierung relativ zum Container */
    right: 10px; /* Abstand vom rechten Rand des Containers */
    top: 50%; /* Vertikale Zentrierung */
    transform: translateY(-50%); /* Korrektur der vertikalen Positionierung */
    font-size: 16px; /* Größe des Pfeils */
    color: #333333; /* Farbe des Pfeils */
    pointer-events: none; /* Verhindert, dass das Pfeilsymbol das Klicken blockiert */
    user-select: none; /* Verhindert, dass der Pfeil ausgewählt wird */
  }
  
  /* Optional: Stil für das Hover- und Fokus-Verhalten */
  .jumpMenu:hover,
  .jumpMenu:focus {
    border-color: #007bff; /* Randfarbe beim Hover oder Fokus */
    outline: none; /* Entfernen des Standard-Fokus-Rahmens */
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.25); /* Schatten-Effekt für besseren Fokus */
  }

.breadcrumb {
    background-color: #a0d6cc; /* Hintergrundfarbe nach Wunsch anpassen */
}

/* FILTER BUTTONS ---------------------------------------------------------------------------------*/

/* Stil für die h3-Überschrift mit der Klasse facet-title */
.facet-title {
    
    width: 99%;
    color: black;


  }



.facet-group .title {
  background-color: transparent;
    display: flex;
    width: 100%;
    padding-right: 8px;
    border:none;
    font-weight: bold;
    text-align: inherit;
    background: none;
    
}

  
  /* Stil für das Button-Element innerhalb der facet-title */
  .facet-title .title {
    
    background: rgba(0, 255, 204, 0.171) ;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  
   
    padding: 8px 12px; /* Innenabstand des Buttons */
    cursor: pointer; /* Zeigt den Zeiger-Cursor beim Überfahren */
  }
  
  /* Stil für das Button-Element innerhalb der facet-title beim Hover */
  .facet-title .title:hover {
    border-color: #007bff; /* Randfarbe beim Hover oder Fokus */
    outline: none; /* Entfernen des Standard-Fokus-Rahmens */
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.25); /* Schatten-Effekt für besseren Fokus */
  }
  
  /* Stil für das Button-Element innerhalb der facet-title beim Fokus */
  .facet-title .title:focus {
    outline: none; /* Entfernen des Fokus-Rahmens */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Benutzerdefinierter Fokus-Schatten */
  }
  


/* ÜBERSCHRIFT DER SCHLAGWÖRTER ________________________________________________________________________*/
/* Stil für den Link mit der Klasse top-title */
.top-title {
    color: #ffffff; /* Textfarbe */
    background: linear-gradient(to right, #055296, #235e92, #4477a3);
    text-decoration: none; /* Entfernt die Unterstreichung */
    padding: 8px 12px; /* Innenabstand */
    border-radius: 4px; /* Abrundung der Ecken */
    display: inline-block; /* Macht den Link wie einen Block, damit Padding wirkt */
  }
  
  /* Stil für den Link beim Hover (wenn der Benutzer darüber fährt) */
  .top-title:hover {
    color: #f8f9fa; /* Textfarbe beim Hover */

    border-color: #007bff; /* Randfarbe beim Hover oder Fokus */
    outline: none; /* Entfernen des Standard-Fokus-Rahmens */
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.25); /* Schatten-Effekt für besseren Fokus */
  }
  
  /* Stil für den Link beim Fokus (wenn der Benutzer mit Tab darauf fokussiert) */
  .top-title:focus {
    outline: none; /* Entfernen des Standard-Fokusrahmens */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Benutzerdefinierter Fokus-Schatten */
  }

  
/* 3. SEITE WENN MAN EIN ERGEBNIS AUFMACHT AB HIER --------------------------------------------------------------------------------*/
  
.media-left {
    display: none; /* Versteckt die linke Spalte */
  }

@media (max-width: 767px) {
    .record .media-left,.record .media-right {
        display: none;
    }
}
  /* Dropdown Toggle Button */
  .export-toggle {
    background-color: #a0d6cc; /* Hintergrundfarbe für Dropdown Toggle */
    color: black;
  }
  
  .export-toggle:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für Dropdown Toggle */
    color: #ff8986;
  }
  
  /* Spezielle Stile für individuelle Buttons */
  .cite-record {
    background-color: #a0d6cc; /* Hintergrundfarbe für Cite Button */
    color: black;
  }
  
  .cite-record:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für Cite Button */
    color: #ff8986;
}
  
  .print-record {
    background-color: #a0d6cc; /* Hintergrundfarbe für Print Button */
    color: black;
  }
  
  .print-record:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für Print Button */
    color: #ff8986;
  }
  
  
  .addThis {
    background-color: #a0d6cc; /* Hintergrundfarbe für AddThis Button */
    color: black;
  }
  
  .addThis:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für AddThis Button */
    color: #ff8986;
  }
  
  .permalink-record {
    background-color: #a0d6cc; /* Hintergrundfarbe für Permalink Button */
    color: black;
  }
  
  .permalink-record:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe bei Hover für Permalink Button */
    color: #ff8986;
  }
  
/* Überschrift des Ergebnisses */
/* Medien-Container */
.media {
    display: flex;
    flex-direction: column; /* Stellt sicher, dass die Elemente untereinander angeordnet sind */
    gap: 20px; /* Abstand zwischen den Elementen */
    /*padding-top: 20px;  Erhöht den oberen Abstand */
}


/* Rechte Spalte */
.media-body {
    flex: 1;
    width: 100%;
}

 /* Überschrift */
 .media-body h1 {
  font-size: 2rem; /* Verwendet relative Einheiten */
  font-weight: 100;
  font-family: 'CUSTOMFONT';
  color: #007bff;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 0; /* Entfernt den Standard-Margin, der das Layout beeinflussen könnte */
  background: linear-gradient(to right, #b7c8c4, #c1d6d2);
  padding: 10px; /* Abstand innerhalb des Kastens */
  border-radius: 8px; /* Abgerundete Ecken */
  display:inline-block;
  border-left:3px solid black ;
  border-right:3px solid black ;
  border-top:3px solid black ;
  border-bottom:3px solid black ;
}

/* ERGEBNISSTABELLE ---------------------------------------------------*/
/* Tabelle selbst */
.table {
    width: 100%; /* Breite der Tabelle */
    border-collapse: collapse; /* Zusammenfallende Ränder */
    margin-bottom: 1rem; /* Abstand nach unten */
    margin-top: 20px; /* Abstand oben zur Überschrift (kann angepasst werden) */
}

/* Tabellenkopf */
.table thead th {
    background-color: #007bff; /* Hintergrundfarbe des Tabellenkopfs */
    color: black; /* Textfarbe des Tabellenkopfs */
    padding: 0.75rem; /* Innenabstand */
    text-align: left; /* Textausrichtung */
}

/* Tabellenkörper */
.table tbody td {
    padding: 0.75rem; /* Innenabstand */
    border-bottom: 1px solid black; /* Unterer Rand der Zellen */
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td,.search-history-table>thead>tr>th,.search-history-table>tbody>tr>th,.search-history-table>tfoot>tr>th,.search-history-table>thead>tr>td,.search-history-table>tbody>tr>td,.search-history-table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Gestreifte Zeilen */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #a0e2d6; /* Hintergrundfarbe für jede ungerade Zeile */
    color: black;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #abb9d1; /* Hintergrundfarbe für jede gerade Zeile */
    color: black;
}

/* Alternativer Hintergrund für Tabellenzeilen */
.table tbody tr:hover {
    background-color: #9e9e9e; /* Hintergrundfarbe beim Hover-Effekt */
}

/* Rahmen um die Tabelle */
.table-bordered {
    border: 1px solid #dee2e6; /* Rahmenfarbe */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6; /* Rahmenfarbe für Kopfzeilen und Zellen */
}

/* ÄHNLICHE RECORDS FÜR DAS WERK ________________________________________________________________*/



/* Stil für die Liste der ähnlichen Datensätze */
.list-group {
    list-style: none; /* Entfernt die Standard-Aufzählungszeichen */
    padding: 0; /* Entfernt die Standard-Padding */
    margin: 0; /* Entfernt die Standard-Margin */
    margin-bottom: 5px;
}

 /* Stil für jede Listeneinheit */
 .list-group-item {
  border: 1px solid #ddd; /* Rahmen um die Listeneinträge */
  border-radius: 4px; /* Abgerundete Ecken */
  background-color: #b7c8c4; /* Hintergrundfarbe der Listeneinträge */
  padding: 10px; /* Innenabstand */
  margin-bottom: 5px; /* Abstand unterhalb der Listeneinträge */
  margin-right: 5px;
  margin-left: 5px;
  /* transition: background-color 0.3s, border-color 0.3s; */ /* Übergangseffekte für Hintergrund- und Rahmenfarbe */
  color: black;
  border-color: black;
}

/* Hover-Effekt für Listeneinträge */
.list-group-item:hover {
    background-color: #a0d6cc; /* Hintergrundfarbe beim Hover */
    border-color: #007bff; /* Rahmenfarbe beim Hover */
}

/* Stil für die Titel in der Liste */
.related__title {
    font-size: 1.2rem; /* Größe der Titel */
    color: #007bff; /* Farbe der Titel */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Hover-Effekt für die Titel */
.related__title:hover {
    text-decoration: underline; /* Unterstreichung beim Hover */
}

/* Stil für die Icons innerhalb der Listeneinträge */
.related__icon {
    margin-right: 10px; /* Abstand rechts vom Icon */
    vertical-align: middle; /* Vertikale Ausrichtung des Icons */
}

/* Stil für zusätzliche Informationen wie Autoren und Veröffentlichungsdaten */
.list-group-item br {
    display: block; /* Zeigt den Zeilenumbruch als Blockelement an */
    margin-top: 5px; /* Abstand oberhalb des Zeilenumbruchs */
}

/* DIE TABS UNTEN ALLE ----------------*/
/* Farben für Links innerhalb des tab-content Containers */
.tab-content a {
    /*color: #007bff; /* Hier kannst du die gewünschte Farbe eingeben */
    text-decoration: none; /* Optional: Entfernt die Unterstreichung der Links */
}

.tab-content a:hover {
    color: #0056b3; /* Farbe der Links beim Hover-Effekt (optional) */
    text-decoration: underline; /* Optional: Unterstreicht den Link beim Hover-Effekt */
}


/* Verstecke das Bild */
.record-cover-link img {
    display: none; /* Versteckt das Bild */
}

/* Versteckt die Sektion "Ähnliche Einträge" */
#record-tab-similar {
  display: none;
}


/* Für die Tabs Example, Beschreibung, Inhaltsangabe */
.tab-content>.active {
display: block;
background-color: #acc1e2;
}

.tab-pane.toc-tab.active strong {
color: darkred; /* Farbe für "Inhaltsangabe:" */
}

.tab-pane.toc-tab.active .toc li {
color: black; /* Farbe für den Text innerhalb der Liste */
}


/* Hintergrundfarbe für den Header */
.header-background {
background-color: red; /* Beispiel: helles Grün */
padding: 10px; /* Optional: Abstand um den Inhalt */
color: white; /* Textfarbe für den Inhalt */
}

/* Optional: Link- und Textfarbe innerhalb des Headers anpassen */
.header-background a {
color: inherit; /* Vererbt die Textfarbe (weiß) */
}

.header-background h1 {
margin: 0; /* Entfernt den Standard-Abstand */
display: inline-block; /* Stellt sicher, dass die Überschriften nebeneinander stehen */
}

#side-panel-institution {
display:none;
}

#side-panel-building {
display: none;
}

.searchtools {
display: none;
}

#make-list {
font-weight: 400;
color: #12538B;
border-radius: 0;
background-color: rgb(174, 174, 174);
border-radius: 1vw;
margin-top: 1vw;
text-decoration: underline;
}

#make-list:hover {
color: white;
}

/* filter reset button search page */
.reset-filters-btn {
  flex: none;
  background-color: #333;
  color: white;
}

.reset-filters-btn:hover {
  background-color: gray;
  color: black;
}
